<h1>new page</h1>
<div class="container">
  <h1 class="title">Create a new Restaurant</h1>

    <div class="task-card">
      <%= form_for(@restaurant) do |f| %>
      <%= f.label :name, class: "label" %>
      <%= f.text_field :name, class: "input"%>
      <%= f.label :address, class: "label"%>
      <%= f.text_field :address, class: "input"%>
      <%= f.label :phone_number, class: "label"%>
      <%= f.text_field :phone_number, class: "input"%>
      <%= f.label :category, class: "label"%>
      <%= f.select :category,Restaurant::CATEGORIES, class: "input"%>
      <%= f.text_field :rating, class: "input"%>
      <%= f.label :rating, class: "label"%>
      <%= f.submit "create restaurant", class: "btn btn-primary"%>
      <% end %>
    </div>
</div>


